@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';


*{
    box-sizing: border-box;

}


:root{
       --primary-bg: #3369ff;
       --secondary-bg: #f4f4f4;
       --text-gray: #757575;
       --text-dark-gray: #3E3E3E;
       --mobile-responsive-width: 649px;
}

body{
font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face {
    font-family: Nunito;
    src: url(../src/assets/fonts/Nunito-VariableFont_wght.ttf);
}